body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 250px;
    height: 100px;
    background-color: blue;
}
div:hover{
    transition: 1s;
    transform:scale(2,3);
}
div:hover{
    transition: 1s;
    transform:translate(-50px,20px);
}

div:hover{
    transition: 1s;
    transform: rotate(360deg);

}


