/* button{
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: transparent;
    position: relative;
}
button::after{
    content: '';
    width: 0%;
    border-radius: 25px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: blue;
    transition: 1s;
    z-index: -1;
    overflow:hidden;
}
button:hover::after{
    width: 100%;

} */

.mojaklasa{
 background-color: aqua;
 border: 2px solid black;

}